{% extends 'base_BACK.html.twig' %}

{% block title %}Formation {% endblock %}

{% block back_content %}
    <h1>Formation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Prix</th>
                <th>Datede</th>
                <th>Datefi</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formmattion in formmattion %}
            <tr>
                <td>{{ formmattion.id }}</td>
                <td>{{ formmattion.nom }}</td>
                <td>{{ formmattion.description }}</td>
                <td>{{ formmattion.image }}</td>
                <td>{{ formmattion.prix }}</td>
                <td>{{ formmattion.datede ? formmattion.datede|date('Y-m-d') : '' }}</td>
                <td>{{ formmattion.datefi ? formmattion.datefi|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('formmattion_show', {'id': formmattion.id}) }}">show</a>
                    <a href="{{ path('formmattion_edit', {'id': formmattion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('formmattion_new') }}">Create new</a>
{% endblock %}
