

{% extends "reclamation/base_front_reclamation.html.twig" %}




{% block textbanner %}

    <h1>Create new Reclamation</h1>


    {{ include('reclamation/_form.html.twig') }}


            {{ form_widget(form) }}


    <a href="{{ path('reclamation_index') }}">back to list</a>
    <a href="{{ path('afficheReclamation') }}">Afficher les reclamations</a>
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Awesome Website</title>
        <!-- Load Flashy default CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    </head>
    <body>
    <h1></h1>

    <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    </body>
    </html>

{% endblock %}

{% block all %}



{% endblock %}



{% block ads %}    {% endblock %}

