{% extends 'base_FRONT.html.twig' %}

{% block title %}
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{asset('frontoffice/img/fav.png')}}" />
    <!-- Author Meta -->
    <meta name="author" content="colorlib" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title>Learn4u-Login</title>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,400i,500,700" rel="stylesheet" />
    <!--
        CSS
        =============================================
      -->
    <link rel="stylesheet" href="{{ asset('frontoffice/css/linearicons.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/magnific-popup.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/owl.carousel.css') }}" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('frontoffice/css/hexagons.min.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/main.css') }}" />
{% endblock %}






{% block popularcourses %}
    <h1>Cours</h1>

    <table class="table">
        <thead>
        <tr>

            <th>Nom</th>
            <th>formations</th>
            <th>Description</th>
            <th>Video</th>
            <th>Dateajoutt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for coursss in courssses %}
            <tr>

                <td>{{ coursss.nom }}</td>
                <td>{{ coursss.formations.nom }}</td>
                <td>{{ coursss.description }}</td>
                <td>
                    <video width="640" height="360" controls>
                        <source src="{{ asset('uploads/') ~coursss.video   }}" type="video/mp4">
                        <source src="movie.ogg" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                </td>
                <td>{{ coursss.dateajoutt ? coursss.dateajoutt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('coursss_show', {'id': coursss.id}) }}">show</a>
                    <a href="{{ path('coursss_edit', {'id': coursss.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('coursss_new') }}">Create new</a>

{% endblock %}
