
{% extends 'base_BACK.html.twig' %}
{% block back_content %}
    <div class="content">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Reviews</h4>
                    <p class="card-category"> Here is a subtitle for this table</p>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>Rating </td>
                                <td>{{ form_widget(form.rating,{attr: {'class':'form-control'}}) }}</td>
                            </tr>
                            <tr>
                                <td>Category </td>
                                <td>{{ form_widget(form.category,{attr: {'class':'form-control'}}) }}</td>
                            </tr>
                            <tr>
                                <td>Title </td>
                                <td>{{ form_widget(form.title,{attr: {'class':'form-control'}}) }}</td>
                            </tr>
                            <tr>
                                <td>Content </td>
                                <td>{{ form_widget(form.content,{attr: {'class':'form-control'}}) }}</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>{{ form_widget(form.submit,{attr: {'class':'btn btn-primary btn-block'}}) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}