{%  extends 'admin_base.html.twig' %}

{% block admin_content %}
    <div class="content">
    <div class="col-md-8">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Edit Review</h4>
            <p class="card-category">Edit</p>
        </div>
        <div class="card-body">

            {{ form_start(f)}}



            {{ form_label(f.rating,'Note',{'attr':{'class':'bmd-label-floating'}}) }}
            {{ form_widget(f.rating,{'attr':{'class':'form-control'}}) }}


            {{ form_label(f.category,'Category',{'attr':{'class':'bmd-label-floating'}}) }}
            {{ form_widget(f.category,{'attr':{'class':'form-control'}}) }}

            {{ form_label(f.title,'Title',{'attr':{'class':'bmd-label-floating'}}) }}
            {{ form_widget(f.title,{'attr':{'class':'form-control'}}) }}

            {{ form_label(f.content,'Product Price',{'attr':{'class':'bmd-label-floating'}}) }}
            {{ form_widget(f.content,{'attr':{'class':'form-control'}}) }}

            {{ form_widget(f.submit) }}
            {{ form_end(f) }}

        </div>
    </div>
{% endblock %}